doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
  body
    nav
      ul
        li
          a(href='/') Home
        if user
          if user.role === 'admin'
            li
              a(href='/admin/add-prescription') Add Prescriptions
            li
              a(href='/admin/view-all-prescriptions') View All Prescriptions
          else
            li
              a(href='prescriptions/user/prescriptions') Your Prescriptions
          li
            a(href='/users/logout') Logout
    block content
