doctype html
html
  head
    title Login
    link(rel='stylesheet', href='/css/styles.css')
  body
    .container
      h1 Login
      if error
        .error-message #{error}
      form(action='/users/login', method='POST')
        .form-group
          label(for='username') Username:
          input(type='text', name='username', required)
        .form-group
          label(for='password') Password:
          input(type='password', name='password', required)
        .form-actions
          button(type='submit') Login
          a.button(href='/users/register') Register
